briefcase
django
django-jinja
django-session-security
django-guardian
django-crispy-forms
crispy-bootstrap5
pydicom
python-gdcm
pynetdicom
numpy
pandas
scipy
pillow
tensorflow==2.15.0
torch
torchvision
opencv-python
pendulum