{% extends "../base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row"><p style="margin-top: 10px">[<a href="/tasks/">Tasks</a>]</p></div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">{{ task_name }}</div>
                <div class="card-body">
                    <form action="/tasks/{{ task_name }}" method="post" enctype="multipart/form-data" id="my-form">
                        {% csrf_token %}
                        <input type="hidden" name="task_name" value="{{ task_name }}">
                        <input type="hidden" name="cancel" value="0">
                        <select class="form-select" name="fileset">
                            <option selected>Select input fileset</option>
                            {% for fileset in filesets %}
                                <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="delay" class="form-label">Delay (s)</label>
                        <input type="number" class="form-control" id="delay" name="delay" placeholder="Enter number" min="0" step="1">
                        <br>
                        <button type="submit" class="btn btn-primary">Run task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}