{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <p style="margin-top: 10px">
            [<a href="/filesets/">Filesets</a>]&nbsp;
            [<a href="/tasks/">Tasks</a>]
            [<a href="/logs/">Logs</a>]&nbsp;
            [<a href="/help/">Help</a>]
        </p>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Tasks</div>
                <div class="card-body">
                    <table class="table">
                        {% for task_name in task_names %}
                            <tr><td><a href="/tasks/{{ task_name }}">{{ task_name }}</a></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Currently running task</div>
                <div class="card-body">
                    <input type="checkbox" class="form-check-input" id="auto-refresh" onclick="autoRefresh();" {% if auto_refresh %} checked {% endif %}>
                    <label class="form-check-label" for="auto-refresh">Auto refresh</label>
                    <script>
                        function autoRefresh() {
                            let href = window.location.href;
                            if(document.getElementById('auto-refresh').checked) {
                                    if(href.endsWith('?auto-refresh=1') === false) {
                                        href = window.location.href + '?auto-refresh=1';
                                    }
                                } else {
                                    if(href.endsWith('?auto-refresh=1')) {
                                        href = href.substring(0, href.length - 15);
                                    }
                                }
                            window.location = href;
                        }
                    </script>
                    <table class="table">
                        <tr>
                            <th>Task name</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th>Commands</th>
                        </tr>
                        {% if current_task %}
                            <tr>
                                <td>{{ current_task.get_name }}</td>
                                <td>{{ current_task.get_status }}</td>
                                <td>{{ current_task.get_progress }}</td>
                                <td>
                                    {% if current_task.get_status == "running" %}
                                    <a href="/tasks/?cancel=1">[cancel]</a>
                                    {% endif %}
                                    {% if current_task.get_status == "completed" or current_task.get_status == "failed" or current_task.get_status == "canceled" %}
                                        <a href="/tasks/?remove=1">[remove]</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}